* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #09090a;
  --element-color: #121212;
  --bars-color: #121214;
  --divider-color: #323238;

  --title-color: #e1e1e6;
  --text-color: #c4c4cc;
  --text-append: #8d8d99;

  --task-done-color: #00b37e;
  --task-done-append-color: #015f43;
  --task-delete-color: #f75a68;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  margin-top: 64px;
}

ul,
li {
  list-style: none;
}

.todo {
  background-color: var(--element-color);

  margin-inline: auto;

  padding: 16px;

  border-radius: 16px;

  width: min(500px, 100%);

  display: flex;
  flex-direction: column;
  gap: 16px;

  -webkit-box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 0.64);
  box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 0.64);
}

.todo--form {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.form--button {
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--task-done-append-color);
  color: var(--title-color);
  cursor: pointer;
  transition: all 0.6s;
}

.form--button:hover {
  filter: brightness(1.6);
}

.todo--title {
  font-size: 48px;
  color: var(--title-color);
  margin-block: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid;
  border-color: var(--divider-color);
}

.todo--list {
  margin-top: 24px;
  padding: 0;
  width: 100%;
}

.task {
  background-color: var(--divider-color);

  padding: 16px 48px;
  /* border: 1px solid; */
  border-radius: 5px;
  margin-bottom: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task--content {
  margin: 0;
}

.content--data {
  color: var(--task-done-color);
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
  padding: 16px 48px;
}

.check--button,
.delete--button {
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 8px;

  color: var(--text-color);
  background-color: var(--bars-color);

  cursor: pointer;
  transition: all 0.6s;
}

.check--button:hover {
  background-color: var(--task-done-color);
  color: var(--title-color);
}

.delete--button:hover {
  background-color: var(--task-delete-color);
  color: var(--title-color);
}

.task.done .check--button {
  background-color: var(--task-done-color);
  color: var(--task-done-append-color);
}

.task.done .task--content {
  text-decoration: line-through;
  color: var(--task-done-color);
}

.task.done .check--icon {
  background-color: #0b2027;
}

@media (max-width: 375px) {
  .todo {
    padding: 4px;
    width: 360px;
  }

  .todo--title {
    padding-left: 8px;
  }

  .form--input {
    width: 100px;
  }

  .date--input {
    width: 100px;
  }

  .todo--list {
    padding: 16px;
  }

  .task {
    overflow-y: auto;

    padding: 8px 8px;
    gap: 8px;
  }
}
